<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type"></meta>
<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script
	src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js'></script>
<script
	src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js'></script>
<style>
table,th,td {
	border: 1px solid black;
	border-collapse: collapse;
}

th,td {
	padding: 5px;
	text-align: left;
}

table#tbl {
	width: 100%;
	background-color: #f1f1c1;
}
table#tbl2 {
	width: 100%;
	background-color: #f0f8ff;
}
</style>
</head>
<body tiles:fragment="content" bgcolor="#ffffff">
	<div class="background"
		style="margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px; max-width: 1120px;">
		<h1 id="book" align="center" th:text="${book}">Book</h1>
		<table id="tbl2">
			<tr>
				<td>
					<div id="ref"
						style="display: inline; margin-left: 10px; float: left; width: 130px;">
					</div>
				</td>
				<td>
					<div
						style="display: inline; margin-left: 10px; float: left; width: 130px;">
						<a href="#" th:href="@{/main}"
							th:text="#{main}"> Main page </a>
					</div>
				</td>
			</tr>
		</table>
		<table id="tbl" border="1" style="width: 100%">
			<tr>
				<td>Synopsis</td>
				<td id="syn"></td>
			</tr>
			<tr>
				<td>Likes</td>
				<td id="lik"></td>
			</tr>
			<tr>
				<td>Comments</td>
				<td id="com"></td>
			</tr>
		</table>
	</div>
	<script type="text/javascript">
	<!--
		$(document).ready(function() {
			$('#ref').append("<a href='/bookface/book/doLike/"+$('#book').html().replace(/ /g, '_')+"' th:href='@{/book/doLike/"+$('#book').html()+"}' th:text='#{like}'> Like </a>");
			getAllData();
		});

		function getAllData(){
		    $.ajax({
		        type: 'GET',
		        url: "getAllBook?book="+ $('#book').html().replace(/ /g, '_'),
		        dataType: "json",
		        success: function(data){
		        	createTableDinamically(data);
		        },
		        error : function(jqXHR, status, error) {
		           alert('Sorry!, there was a problem');
		        },
		    });
		}

		function createTableDinamically(res){
			$('#syn').append(res.syn);
			var text="<ul>"
			for (j = 0; j < res.likes.length; j++) {
	             text=text.concat("<li>"+res.likes[j].username+ "</li>");
	         }
			text=text.concat("</ul>");
			$('#lik').append(text);
		}
	-->
	</script>
</body>
</html>

