<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type"></meta>
<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script
	src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js'></script>
<script
	src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js'></script>
<style>
table,th,td {
	border: 1px solid black;
	border-collapse: collapse;
}

th,td {
	padding: 5px;
	text-align: left;
}

table#tbl {
	width: 100%;
	background-color: #f1f1c1;
}

table#tbl1 {
	width: 100%;
	background-color: #f0f8ff;
}

table#tbl2 {
	width: 100%;
	background-color: #f0f8ff;
}

</style>
</head>
<body tiles:fragment="content" bgcolor="#ffffff">
	<div class="background"
		style="margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px; max-width: 1120px;">
		<h1 align="center">Books</h1>
		<table id="tbl2">
			<tr>
				<td>
					<div
						style="display: inline; margin-left: 10px; float: left; width: 130px;">
						<a href="#" th:href="@{/author/addAuthor}"
							th:text="#{addAuthor}"> Add Author </a>
					</div>
				</td>
				<td>
					<div
						style="display: inline; margin-left: 10px; float: left; width: 130px;">
						<a href="#" th:href="@{/likes}"
							th:text="#{likes}"> Go to likes </a>
					</div>
				</td>
			</tr>
		</table>
		<table id="tbl" border="1" style="width: 100%">
			<tr>
				<th>Author</th>
				<th>Books</th>
			</tr>
		</table>
	</div>
	<script type="text/javascript">
	<!--
		$(document).ready(function() {
			getAllData();
		});

		function getAllData(){
		    $.ajax({
		        type: 'GET',
		        url: "author/getAll",
		        dataType: "json",
		        success: function(data){
		        	createTableDinamically(data);
		        },
		        error : function(jqXHR, status, error) {
		           alert('Sorry!, there was a problem');
		        },
		    });
		}

		function createTableDinamically(res){
			 for (i = 0; i < res.length; i++) {
		         var text="<tr><td><a href=author/"+res[i].author.replace(/ /g, '_')+">"+res[i].author+"</a></td>";
		         var text2="<td><ul>"
		         for (j = 0; j < res[i].books.length; j++) {
		             text2=text2.concat("<li><a href=book/"+res[i].books[j].book.replace(/ /g, '_')+">"+res[i].books[j].book+"</a></li>");
		         }
		         text2=text2.concat("</ul></td></tr>");
		         text=text.concat(text2);
		         $('#tbl').append(text);
			 }

		}
	-->
	</script>
</body>
</html>

